@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

* {
    box-sizing: border-box;
}

:root {
    --fg-color: #313638;
    --bg-color: #E8E9EB;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #313638;
        --fg-color: #E8E9EB;
    }
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 16px;
    font-size: 16px;
    line-height: 24px;
    background: var(--bg-color);
    color: var(--fg-color);
}

section {
    max-width: 600px;
    margin-bottom: 2rem;
}

section img {
    max-width: 100%;
}

section figure {
    margin-left: 0;
    margin-right: 0;
}

section figcaption {
    font-size: 14px;
}

section aside {
    background: var(--fg-color);
    color: var(--bg-color);
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 2rem;
}

section aside p:last-child {
    margin-bottom: 0;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 24px 0;
}

h2 {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0 0 2rem 0;
}

a {
    color: #FE5F55;
}

nav {
    margin-top: 2rem;
    text-align: center;
}

nav a {
    border: 1px dotted var(--fg-color);
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

@media only screen and (max-width : 768px) {
    body {
        height: 100%;
        display: block;
    }
    h1 {
        font-size: 16px;
        line-height: 24px;
    }
}