h2 {
    font-size: 18px;
}

ul {
    padding-left: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

p {
    margin: 0 0 1rem 0;
}

a {
    color: #FE5F55;
}

a img:hover {
    transform: scale(102%);
    transition: transform 0.5s ease-in;
}

a img {
    transform: scale(100%);
    transition: transform 0.5s ease-in;
}

section {
    max-width: 600px;
    margin-bottom: 2rem;
}

section img {
    max-width: 100%;
}

section figure {
    margin-left: 0;
    margin-right: 0;
}

section figcaption {
    font-size: 14px;
}

section aside {
    background: var(--fg-color);
    color: var(--bg-color);
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 2rem;
}

section aside p:last-child {
    margin-bottom: 0;
}

section aside h2 {
    margin-top: 0;
}

@media only screen and (max-width : 768px) {
    h1 {
        font-size: 16px;
        line-height: 24px;
    }
}
